/* link que ainda não foi visitado */
a:link {
    color: #880E4F;
 }
 
 /* link que foi visitado */
 a:visited {
     color: #880E4F;
 }
 
 /* mouse over */
 a:hover {
     color: #880E4F;
 }
 
 /* link selecionado */
 a:active {
     color: #880E4F;
 }

 a{
     text-decoration: none!important;
     font-size: 16px;
 }

.capa{
    width: 100%; 
    max-height: 600px;
}


.capa img{
    width: inherit;
    height: inherit;  
}

.link_produto{
    width: 180px;
    height: 35px;
    border: 1px solid black;
    background-color: #880E4F;
    margin-top: 10px;
}

.link_produto:hover{
    cursor: pointer;
    transition: 1s;
    background-color: #fff;
    border: 1px solid #880E4F;
}

.texto{
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.texto:hover{
    color: #880E4F;
}

.titulo_perfil{
    width: 100%;
    height: 35px;
    margin-top: 70px;
    text-align: center;
}

hr{
    border: 0.5px solid #c4c4c4;
}

.avaliacao{
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.avaliacao_perfil{
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-top: -45px
}

.nota{
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 55px;
    font-weight: bolder;
    margin-bottom: 25px;
}

.imagens-bolos{
    width: 100%;
    height: 180px;
}

.nome_bolo{
    font-family: Arial, Helvetica, sans-serif;
}
.produto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;    
}

.preco{
    font-weight: bold;
}

.texto_confeiteiro{
    font-size: 20px;
}

/* .caixa_confeiteiro{
    height: 350px;
    background-color: #fff;
    box-shadow: 0 0 1em black;
    margin-top: -100px;
    padding-top: 135px;
} */

.img_confeiteiro{
    width: 220px;
    height: 195px;
    /* margin-left: 210px; */
    border-radius: 100%;
    margin-top: -200px;
}

.img_confeiteiro img{
    width: inherit;
    height: inherit;
}

.nome_confeiteiro{
    width: 250px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.caixa_info{
    width: 200px;
    height: 220px;
    margin-top: -35px;
}

.info_confeiteiro{
    width: 250px;
    font-size: 20px;    
}

.av{
    font-size: 18px;
}

@media (max-width: 1100px) 
{
    .img_confeiteiro{
        width: 100%;
        height: 150px;
        margin-top: -100px;
        border-radius: 100%;
    }
    
    .img_confeiteiro img{
        width: inherit;
        height: inherit;
    }

    /* .caixa_confeiteiro{
        width:250px;
        height: 465px;
        margin-left: -45px;
        background-color: #fff;
        box-shadow: 0 0 1em black;
        margin-top: -100px;
        padding-top: 85px;
    } */

    .link_produto{
        width: 180px;
        height: 35px;
        border: 1px solid black;
        background-color: #880E4F;
        margin-top: 52px;
    }

    .caixa_info{
        width: 200px;
        height: 220px;
        margin-top: 10px;
    }
}

@media (max-width: 1100px) and (orientation:landscape){

    .img_confeiteiro{
        width: 65%;
        height: 150px;
        margin-top: -100px;
        border-radius: 100%;
        margin-left: 10px;
    }
    
    .img_confeiteiro img{
        width: inherit;
        height: inherit;
    }

    /* .caixa_confeiteiro{
        width:250px;
        height: 350px;
        margin-left: 1px;
        background-color: #fff;
        box-shadow: 0 0 1em black;
        margin-top: -100px;
        padding-top: 85px;
    } */
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

    .capa{
        width: 100%; 
        max-height: 400px;
    }
    
    
    .capa img{
        width: inherit;
        height: inherit;  
    }

    .img_confeiteiro{
        width: 45%;
        height: 150px;
        margin-top: -100px;
        border-radius: 100%;
    }
    
    .img_confeiteiro img{
        width: inherit;
        height: inherit;
    }

    /* .caixa_confeiteiro{
        width:250px;
        height: 460px;
        margin-left: 70px;
        background-color: #fff;
        box-shadow: 0 0 1em black;
        margin-top: -100px;
        padding-top: 85px;
    } */

    .avaliacao_perfil{
        width: 150px;
        height: 50px;
        margin-top: 180px;
        margin-left: -80px;
    }

  }
  

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {

    .capa{
        width: 100%; 
        max-height: 400px;
    }
    
    
    .capa img{
        width: inherit;
        height: inherit;  
    }

    .img_confeiteiro{
        width: 35%;
        height: 150px;
        margin-top: -100px;
        border-radius: 100%;
    }
    
    .img_confeiteiro img{
        width: inherit;
        height: inherit;
    }
/* 
    .caixa_confeiteiro{
        width:250px;
        height: 460px;
        margin-left: 140px;
        background-color: #fff;
        box-shadow: 0 0 1em black;
        margin-top: -100px;
        padding-top: 85px;
    } */

    .avaliacao_perfil{
        width: 150px;
        height: 50px;
        margin-top: 180px;
        margin-left: -80px;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    .img_confeiteiro{
        width: 30%;
        height: 150px;
        margin-top: -100px;
        border-radius: 100%;
    }
    
    .img_confeiteiro img{
        width: inherit;
        height: inherit;
    }
/* 
    .caixa_confeiteiro{
        width:250px;
        height: 495px;
        margin-left: 190px;
        background-color: #fff;
        box-shadow: 0 0 1em black;
        margin-top: -100px;
        padding-top: 135px;
    } */

    .avaliacao_perfil{
        width: 150px;
        height: 50px;
        margin-top: 180px;
        margin-left: -80px;
    }

    .link_produto{
        width: 180px;
        height: 35px;
        border: 1px solid black;
        background-color: #880E4F;
        margin-top: 35px;
    }
}